---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Akshata",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I can wear multiple hats - data scientist/ product manager/ machine learning engineer depending on the day.
			I like building clean, simple and effective data solutions. I am convinved by the power of using data the right way
			to sway decisions and love that I can do something I enjoy doing for my day job. 
			
		</p>
		<p> On a personal note, I like dogs and I have two dogs that keep me on my toes and 
	</div>
</PageLayout>
